<%layout('layout/adminBoilerplate')%> 
    <div class="form-wrapper">
        <h3 class="edit-form__heading">Create a new book</h3>
        <form action="/admin/books" method='POST' class="general-form" enctype="multipart/form-data">
            <label for="name">Name</label>
            <input type="text" name="name" id="name" >
            <label for="price">Price</label>
            <input type="number" name="price" id="price" >
            <label for="description">Description</label>
            <input type="text" name="description" id="description" >
            <label for="">Category</label>
            <div class="select-category">
            <select name="category">
                <% for(let i=0;i<category.length;i++){ %> 
                <option value="<%=category[i].name%>"><%=category[i].name%> </option>
                <% } %> 
            </select>
            </div>
            <label for="author">Author</label>
            <input type="text" name="author" id="description">
            <label for="image">Image</label>
            <input type="file" name="image" id="image">
            <button>Create</button>
        </form>
    </div>