<% layout('layout/authenBoilerplate') %> 
<div class="register-wrapper">
    <form action="/login" method='post' class="register-form">
        <h3 class="register-form__heading">Sign In</h3>
        <div class="register-form__username">
            <i class="register-form--icon fas fa-user"></i>
            <input type="text" name='username'  placeholder="Your username" class="register-form__name--input">
        </div>
        <div class="register-form__password">
            <i class="register-form--icon fas fa-lock"></i>
            <input type="password" name='password' placeholder="Your password">
        </div>
        <div class="button-group">
            <button type="submit" class="register-form__btn">
                <span>Log In</span>
            </button>
            <button class="register-form__btn register-form__btn--sub">
                <a href="/register">Register</a>
            </button>
        </div>
    </form>
    <div class="register-cover" >
        <img class="register-cover__img" src="/img/wolf-removebg-preview.png" alt="">
        <p class="register-cover__text">Cùng đăng nhập và mua sắm!</p>
    </div>
</div>