<header class="header grid">
    <div class="header-sidebar">
        <img src="/img/book.png" alt="" class="header-sidebar__logo">
        <div class="header-sidebar__heading">ADMIN</div>   
    </div>
    <div class="header-main">
        <div class="header-main__user">
            <img src="/img/avatar.jpg" alt="" class="header-main__user-avt">
            <span class="header-main__user-username"> </span>
            <i class="header-main__user-icon fas fa-chevron-down">
                <a href="/logout">
                <div class="header-main__user-icon-logout hidden">
                    Đăng xuất
                </div>
                </a>
            </i>    
        </div>
    </div>
</header>