<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Book ecommerce</title>
    <link rel="stylesheet" href="/css/all.min.css">
    <link rel="stylesheet" href="/font/fontawesome-free-5.15.3-web/css/all.css">
    <link rel="stylesheet" href="/css/grid.css">
    <link rel="stylesheet" href="/css/reset.css">
    <link rel="stylesheet" href="/css/base.css">
    <link rel="stylesheet" href="/css/main.css"> 
</head>
<body>
    <%- include('../partial/navbar')%> 
    <%-body%> 
</body>
<script type="module" src="/js/script.js">
</script>
</html>